*.footer {
  height: 30rem;
  background-image: url(../images/Footer-luz-lentes-azul.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;

  .nav {
    padding: 1rem;
  }

  .nav-link {
    color: #59f037;
    font-weight: 500;
  }
  .redes {
    background-color: #65b054;
    opacity: 0.5;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
  }
  .iconos {
    display: flex;
    gap: 5rem;
  }
}

/*.redes {
  grid-area: redes;
  background-color: #59F037;
}


/*============ parctica   =============.nav-item {
  grid-area: nav; */
