@font-face {
    font-family: rubik;
    src: url(../Averia_Sans_Libre\Rubik/);
  }
 
  $mainColor:  #990276;
  $hovemainrcolor: #611250;
  $hoversecondcolor: #9B578B;
  $verde1color: #59F037;
  $verdehovercolor: #587052;
  $verdesecondcolor: #65B054;
  
