@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

$fontrubik: "Rubik", sans-serif;
  
  $mainColor:  #990276;
  $hovemainrcolor: #611250;
  $hoversecondcolor: #9B578B;
  $verde1color: #59F037;
  $verdehovercolor: #587052;
  $verdesecondcolor: #65B054;
  
