@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}
.logo {
  width: 4rem;
  margin-right: 1rem;
}
.header {
  background-color: #22b14c;
  padding: 1rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
}
.menu {
  display: flex;
  list-style-type: none;
  gap: 1rem;
}


.bord {
  height: 30rem;
  background-image: url(../images/fantasy-vr.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.bord-titulo {
  color: #ffc90e;
  font-size: 5rem;
}
.mona {
  width: 50%;
  height: 50%;
}
.tarjeta .articulo {
  background-color: #ffc90e;
  color: #5f328c;
  height: 50%;
  border-radius: 15px;
  padding: 15px;
  font-family: rubik;
}
.sub {
  background-color: #603087;
  padding: 15px 15px 15px 25px;
  color: #ffff;
}
.sub-titulo {
  background-color: aqua;
}

.parrafo {
  margin-top: 15px;
  padding: 1rem;
  color: #ffc90e;
}
.parrafo-nosotros {
  background-color: aqua;
  padding: 1rem;
  border-radius: 3rem;
}

.somos {
  background-color: #603087;
  color: #ffff;
  border-radius: 15px;
  padding: 15px;
}

*.footer {
  background-image: url(../images/Footer-luz-lentes-azul.webp);
  height: 30rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 15px;

}
.nav-link {
  color: #59F037;
  font-weight: 500;
}
.menu-1 {
  background-color: #22b14c;
  display: flex;
  list-style-type: none;
  gap: 1rem;
  padding: 25px;
}

.navbar-nav nav{
  display: flex;
  justify-content: end;
  list-style: none;
  gap: 1rem;
}

.imagen {
  width: 80px;
  height: 80px;
  margin-top: 25px;
  border-radius: 15px;
  border-spacing: 10px;
}

/* Nosotros*/
.nav {
  background-color:#990276;
  opacity: 0.4;
}

/*section .banner {

  width: 1000vh;
  background: linear-gradient(#9B578C #990276);

}*/

.mascara {
  background: linear-gradient(#9B578C red);
}

.sub-titulo-1 {
  color: #990276;
  text-shadow: #59F037;
}

.hola {
  background-image: url(../images/icono-silueta-hombre.png);
  background-size: cover;
  object-fit: cover;
  height: 15rem;
}

.video-container {
  position: relative;
  width: cover;
  margin-top: 2rem;
  margin-bottom: 3rem;
}
.video-container video {
  width: 100%;
  height: auto;
  border-radius: 2rem;
  
  
}
.video-container .text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #9B578B;
  opacity: .6;
  color: #59F037;
  padding: 10px;
  border-radius: 5px;
  font-size: 2rem;
  font-weight: bold;
  
}

/* A Futuro */

.titulo-1 {
  color: #990276;
}

.texto-3 {
  background-color: #22b14c;
  background-size: 100%;
}

.texto-2 {
  background-color: #5f328c;
  background-size: 100%;
}
.texto-1 {
  background-color: #ffc90e;
  background-size: 100%;
}

.texto-img {
  background-image: url(../images/icono-mujer.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
}

/* Contacto*/

.input1 {
  border-color: #603087;
  border-radius: 5px;
}
.texto-area {
  border-color: #603087;
  border-radius: 5px;
}

.button {
  border-radius: 10px;
  padding: 10px 10px 10px;
  border-color: #603087;
  color: #ffc90e;
}

.titulo-h2 {
  color: #22b14c;
}
